ul.special_content li .discipline_title_bg {float: left;background: url('../images/discipline_bg.png') left top no-repeat;width: 177px;height: 130px;position: relative;top: 0px;left: 0px;}
ul.special_content li{padding: 0 12px;}
.g-mfover{margin-top: -3px;}